.container-fluid{
    background-color: #a8a9ad90;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 10px 0px;
}

#row-cabecera{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
}

.nav-link{
    color: black;
    --bs-nav-link-hover-color: white;
}

.cabecera-carta{
    display: flex;
    font-size: 32px;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    color: black;
    margin-bottom: 5px;
}

.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-top: 1em;
}

#carta{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    border: black solid 4px;
    border-radius: 2%;
    padding: 0px 20px 0px 20px;
    margin-bottom: 15px;
    margin-top: 1em;
    background-color: rgba(39, 40, 41, 0.204);
}

#menu-carta{
    font-size: 19px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    border-left: 2px black solid;
    padding-left: 5px;
    
}

a{
    color: #ffffff;
    text-decoration:solid;
    font-size: 20px;
}
