.container-fluid{
    background-color: #0c0d0e9e;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 10px 0px;
}

#row-cabecera{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
}

.nav-link{
    color: black;
    --bs-nav-link-hover-color: white;
}