
.container-fluid{
    background-color: #a8a9ad90;
}

#row-cabecera{
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: black;
}

.nav-link{
    color: black;
    --bs-nav-link-hover-color: white;
}

.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-top: 1em;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 10px 0px;
}
